/*! PÁGINA CONTACTO */

.mainContacto {
    background-image: url(../image/fotografia-banda3-bw.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

/* Section 1 */

.sectionHistoria {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: "tituloHistoria""historia";

    h2 {
        display: flex;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.788) 0%, rgba(255, 255, 255, 0) 100%);
        color: #ffffff;
        justify-content: center;
        width: 720px;
        padding: 2rem;
        font-size: 3.6rem;
        margin-top: 1rem;
        grid-area: tituloHistoria;
    }
}

.historia {
    display: flex;
    flex-direction: column;
    background: map-get($estilos, fondo);
    text-align: justify;
    width: map-get($estilos, tamaño);
    padding: map-get($estilos, padding);
    grid-area: historia;

    p {
        padding-top: 1rem;
        font-size: 1.1rem;
    }
}

/* Section 2 */

.cambioParrafo h5{
    color:#ffffff
  }