@import "variables";
@import "index";
@import "tour";
@import "discografia";
@import "tienda";
@import "contacto";
@import "mediaqueires";


/* Quita padding, margin*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  
  /* Colores y texto general */
  
  a {
    color: #000000;
    text-decoration: none;
  
    &:hover {
      color: #ca2f2f;
    }
  }
  
  body {
    background-image: url(../image/background-op-2.jpg);
  
    /*  background-color: #630a10; */
    font-family: "Lato", sans-serif;
  }
  
  p {
    color: #ffffff;
  }
  
  /* REM */
  
  html {
    font-size: 62, 5%;
  }